
<div class="panel panel-primary">
    <div class="panel-heading">
        <div class="panel-title">{{vm.amember.id}}
            <span data-translate="amasApp.amember.detail.title">Association</span>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    ng-click="vm.clear()">&times;</button>
        </div>
    </div>
    <jhi-alert-error></jhi-alert-error>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <span data-translate="amasApp.amember.membName">Memb Name</span>
                        </label>
                        <div class="col-md-10">
                            <span>{{vm.amember.membName}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <span data-translate="amasApp.amember.membNO">Memb NO</span>
                        </label>
                        <div class="col-md-10">
                            <span>{{vm.amember.membNO}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <span data-translate="amasApp.amember.membClass">Memb Class</span>
                        </label>
                        <div class="col-md-10">
                            <span>{{vm.amember.membClass}}</span>
                        </div>
                    </div>
                    <!-- 社团成员数量 -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <span data-translate="amasApp.amember.membPhone">Memb Phone</span>
                        </label>
                        <div class="col-md-10" >
                            <a >
                            <span>{{vm.amember.membPhone}}</span>
                            </a>
                        </div>
                    </div>
                    <!-- 社团的部门 -->
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <span data-translate="amasApp.amember.membQQ">Memb QQ</span>
                        </label>
                        <div class="col-md-10">
                            <span>{{vm.amember.membQQ}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <span data-translate="amasApp.amember.membEmail">Memb Email</span>
                        </label>
                        <div class="col-md-10">
                            <a >
                                <span>{{vm.amember.membEmail}}</span>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <span data-translate="amasApp.amember.membJoinDate">Memb Join Date</span>
                        </label>
                        <div class="col-md-10">
                            <a >
                                <span>{{vm.amember.membJoinDate | date:'mediumDate'}}</span>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <span data-translate="amasApp.amember.gender">Gender</span>
                        </label>
                        <div class="col-md-10">
                            <a >
                                <span data-translate="{{'amasApp.Gender.' + vm.amember.gender}}">{{vm.amember.gender}}</span>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <span data-translate="amasApp.amember.dormNum">Dorm Num</span>
                        </label>
                        <div class="col-md-10">
                            <a >
                                <span>{{vm.amember.dormNum}}</span>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <span data-translate="amasApp.amember.politicsStatus">Politics Status</span>
                        </label>
                        <div class="col-md-10">
                            <span data-translate="{{'amasApp.PoliticsStatus.' + vm.amember.politicsStatus}}">{{vm.amember.politicsStatus}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <span data-translate="amasApp.amember.college">College</span>
                        </label>
                        <div class="col-md-10">
                            <span data-translate="{{'amasApp.College.' + vm.amember.college}}">{{vm.amember.college}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <span data-translate="amasApp.amember.major">Major</span>
                        </label>
                        <div class="col-md-10">
                            <span>{{vm.amember.major}}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <span data-translate="amasApp.amember.association">Association</span>
                        </label>
                        <div class="col-md-10">
                            <span ng-repeat="association in vm.amember.associations">
                                        <a ui-sref="association-detail({id: association.id})">{{association.assoName}}</a>{{$last ? '' : ', '}}
                                    </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <span data-translate="amasApp.amember.department">Department</span>
                        </label>
                        <div class="col-md-10">
                            <a ui-sref="department-detail({id: department.id})">{{department.deptName}}</a>{{$last ? '' : ', '}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <span data-translate="amasApp.amember.role">Role</span>
                        </label>
                        <div class="col-md-10">
                            <span ng-repeat="role in vm.amember.roles">
                                    <a ui-sref="role-detail({id: role.id})">{{role.roleName}}</a>{{$last ? '' : ', '}}
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">
                            <span data-translate="amasApp.amember.dutymemb">Dutymemb</span>
                        </label>
                        <div class="col-md-10">
                            <a ui-sref="duty-detail({id:vm.amember.dutymemb.id})">{{vm.amember.dutymemb.weekday}}</a>

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-1 col-md-10">
                            <button type="button" ui-sref="amember-detail.edit({id:vm.amember.id})" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>
                                </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>
