
<div>
    <h2><span data-translate="amasApp.amember.home.title">Amembers</span></h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="amember.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="amasApp.amember.home.createLabel">
                        Create new Amember
                    </span>
                </button>
                
                <!-- 通过Excel批量导入会员 -->
                <button class="btn btn-primary" ui-sref="amember.newByExcel" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="amasApp.amember.home.createByExcel">
                        Create new Amember
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'amasApp.amember.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="membName"><span data-translate="amasApp.amember.membName">Memb Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="membNO"><span data-translate="amasApp.amember.membNO">Memb NO</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="membClass"><span data-translate="amasApp.amember.membClass">Memb Class</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="membPhone"><span data-translate="amasApp.amember.membPhone">Memb Phone</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="membQQ"><span data-translate="amasApp.amember.membQQ">Memb QQ</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="membEmail"><span data-translate="amasApp.amember.membEmail">Memb Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <!-- 
                    <th jh-sort-by="membJoinDate"><span data-translate="amasApp.amember.membJoinDate">Memb Join Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="dutymemb.weekday"><span data-translate="amasApp.amember.dutymemb">Dutymemb</span> <span class="glyphicon glyphicon-sort"></span></th>
                     -->
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="amember in vm.amembers track by amember.id">
                    <td>{{amember.membName}}</td>
                    <td>{{amember.membNO}}</td>
                    <td>{{amember.membClass}}</td>
                    <td>{{amember.membPhone}}</td>
                    <td>{{amember.membQQ}}</td>

                    <td>{{amember.membEmail}}</td>

                    <!-- <td>{{amember.membJoinDate | date:'mediumDate'}}</td>
                    <td>
                        <a ui-sref="duty-detail({id:amember.dutymemb.id})">{{amember.dutymemb.weekday}}</a>
                    </td>
                     -->
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="amember-detail({id:amember.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <!-- 
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                                 -->
                            </button>
                            <button type="submit"
                                    ui-sref="amember.edit({id:amember.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <!-- 
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                                -->
                            </button>
                            <button type="submit"
                                    ui-sref="amember.delete({id:amember.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <!-- 
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                                -->
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
