<!-- 学院饼图 -->
<h3 data-translate="amasApp.amember.home.selectAssoCharts">Select Association</h3>
<!-- 学院分布的社团选择按钮 -->
<div class="col-md-5 input-group">
    <select class="form-control" ng-model="selectAsso.selected" ng-options="association.assoName for association in selectAsso.allAssoIdAndName track by association.id" > 
    </select>
    <span>  </span>
    <span class="input-group-btn">
        <button id="assoChartBtn" class="btn btn-primary" type="button" tabindex="-1">
            <span ></span>
            <span data-translate="amasApp.amember.home.okay">Submit</span>
        </button>
    </span>

</div>
<!-- 学院获取选择的社团 -->
<div style="display: none" id="getSelectedAssoId">{{selectAsso.selected.id}}</div>
<div style="display: none" id="getSelectedAssoName">{{selectAsso.selected.assoName}}</div>
<!-- 学院饼图 -->
<div id="collegePieContainer" ></div> <hr size=1 color=cyan />


<!-- 专业饼图 -->
<h3 data-translate="amasApp.amember.home.selectAssoCharts">Select Association</h3>
<!-- 专业饼图的选择按钮 -->
<div class="col-md-5 input-group">
    <select class="form-control" ng-model="selectAsso.selected2" ng-options="association2.assoName for association2 in selectAsso.allAssoIdAndName track by association2.id" > 
    </select>
    <span>  </span>
    <span class="input-group-btn">
        <button id="assoChartBtn2" class="btn btn-primary" type="button" tabindex="-1">
            <span ></span>
            <span data-translate="amasApp.amember.home.okay">Submit</span>
        </button>
    </span>
</div>
<!-- 专业获取选择的社团 -->
<div style="display: none" id="getSelectedAssoId2">{{selectAsso.selected2.id}}</div>
<div style="display: none" id="getSelectedAssoName2">{{selectAsso.selected2.assoName}}</div>
<div id="majorPieContainer" ></div>


<!-- 各年招新人数趋势 -->
<h3 data-translate="amasApp.amember.home.selectAssoCharts">Select Association</h3>
<!-- 年级饼图的选择按钮 -->
<div class="col-md-5 input-group">
    <select class="form-control" ng-model="selectAsso.selected5" ng-options="association5.assoName for association5 in selectAsso.allAssoIdAndName track by association5.id" > 
    </select>
    <span>  </span>
    <span class="input-group-btn">
        <button id="assoChartBtn5" class="btn btn-primary" type="button" tabindex="-1">
            <span ></span>
            <span data-translate="amasApp.amember.home.okay">Submit</span>
        </button>
    </span>
</div>
<!-- 年级获取选择的社团 -->
<div style="display: none" id="getSelectedAssoId5">{{selectAsso.selected5.id}}</div>
<div style="display: none" id="getSelectedAssoName5">{{selectAsso.selected5.assoName}}</div>
<div id="yearsBarCharts" ></div>


<style type="text/css">
    .container{height: 500px;}
    .well{height: 1900px;}
    #collegePieContainer{height:500px;}
    #majorPieContainer{height:500px;}
    #yearsBarCharts{height:500px;}
</style>
<script>
    'use strict';
    //初始化各个图表
    initCollegePie();
    initMajorPie();
    initYearsBarCharts();
    //绑定各个查询按钮事件
    $('#assoChartBtn').on('click',function () {
        initCollegePie();
    });
    $('#assoChartBtn2').on('click',function () {
        initMajorPie();
    });
    $('#assoChartBtn5').on('click',function () {
        initYearsBarCharts();
    });


    // 初始化学院分布饼图
    function initCollegePie() {
        var assoId = $('#getSelectedAssoId').html();
        var assoName = $('#getSelectedAssoName').html();
        if (isNaN(assoId)) {
            assoId = '';
        };
        if(assoName =="{{selectAsso.selected.assoName}}"){
            assoName = "全部社团";
        }
        $.ajax({
            type: 'get',
            url:"api/allAmembersCollegePie/"+assoId,
            dataType:'json',
            success:function(pieData){
                var collegeName = [];
                for(var tmpData in pieData) {
                   collegeName.push(pieData[tmpData].name);
               }
                var myChart = echarts.init(document.getElementById('collegePieContainer'));
                 var option = {
                    title : {
                            text: assoName+'成员学院分布',
                            subtext: '包含医学院',
                            x: 'center',
                            y: '5%'
                        },
                        tooltip : {
                               trigger: 'item',
                               formatter: "{a} <br/>{b} : {c} ({d}%)"
                        },
                        toolbox: {
                            show : true,
                            feature : {
                                mark : {show: true},
                                dataView : {show: true, readOnly: false},
                                magicType : {
                                    show: true, 
                                    type: ['pie', 'funnel']
                                },
                                restore : {show: true},
                                saveAsImage : {show: true}
                            }
                        },
                        calculable : true,
                        legend: {
                            orient : 'vertical',
                            x : '10%',
                            y : '18%',
                            // data: ['财经学院','电气学院','管理学院','机械学院','计通学院','汽车学院','社科学院','生化学院','体育学院','土建学院','外语学院','医学院','艺术学院','职教学院']
                            data: collegeName
                        },
                        series : [
                            {
                                name: '学院分布',
                                type: 'pie',
                                radius : [20, 140],
                                center: ['50%', '55%'],
                                roseType : 'area',
                                x: '50%',               // for funnel
                                y: '20%',
                                max: 1,               // for funnel
                                width: '10%',        // for funnel
                                height: '50%',
                                sort : 'ascending',     // for funnel
                                data: pieData,
                                itemStyle: {
                                    emphasis: {
                                        shadowBlur: 10,
                                        shadowOffsetX: 0,
                                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                                    }
                                }
                            }
                        ]
                };
                myChart.setOption(option);
            }
        });
     }

    // 初始化专业饼图
    function initMajorPie() {
        var assoId = $('#getSelectedAssoId2').html();
        var assoName = $('#getSelectedAssoName2').html();
        if (isNaN(assoId)) {
            assoId = '';
        };
        if(assoName =="{{selectAsso.selected2.assoName}}"){
            assoName = "全部社团";
        }
        $.ajax({
            type: 'get',
            url:"api/allAmembersMajorPie/"+assoId,
            dataType:'json',
            success:function(pieData){
                var collegeName = [];
                for(var tmpData in pieData) {
                   collegeName.push(pieData[tmpData].name);
               }
                var myChart = echarts.init(document.getElementById('majorPieContainer'));
                  var option = {
                     title : {
                             text: assoName+'成员专业分布',
                             subtext: '包含医学院',
                             x: 'center',
                             y: '5%'
                         },
                         tooltip : {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} ({d}%)"
                         },
                         toolbox: {
                             show : true,
                             feature : {
                                 mark : {show: true},
                                 dataView : {show: true, readOnly: false},
                                 magicType : {
                                     show: true, 
                                     type: ['pie', 'funnel']
                                 },
                                 restore : {show: true},
                                 saveAsImage : {show: true}
                             }
                         },
                         calculable : true,
                         legend: {
                             orient : 'vertical',
                             x : '10%',
                             y : '18%',
                             // data: ['财经学院','电气学院','管理学院','机械学院','计通学院','汽车学院','社科学院','生化学院','体育学院','土建学院','外语学院','医学院','艺术学院','职教学院']
                             data: collegeName
                         },
                         series : [
                             {
                                 name: '专业分布',
                                 type: 'pie',
                                 radius : [20, 140],
                                 center: ['50%', '55%'],
                                 roseType : 'area',
                                 x: '50%',               // for funnel
                                 y: '20%',
                                 max: 1,               // for funnel
                                 width: '10%',       // for funnel
                                 height: '50%',
                                 sort : 'ascending',     // for funnel
                                 data: pieData,
                                 itemStyle: {
                                     emphasis: {
                                         shadowBlur: 10,
                                         shadowOffsetX: 0,
                                         shadowColor: 'rgba(0, 0, 0, 0.5)'
                                     }
                                 }
                             }
                         ]
                 };
                myChart.setOption(option);
            }
        });
    }

    // 初始化各年招新柱状图
    function initYearsBarCharts() {
        var assoId = $('#getSelectedAssoId5').html();
        var assoName = $('#getSelectedAssoName5').html();
        if (isNaN(assoId)) {
            assoId = '';
        };
        if(assoName =="{{selectAsso.selected5.assoName}}"){
            assoName = "全部社团";
        }
        $.ajax({
            type: 'get',
            url:"api/allAmembersGradePie/"+assoId,
            dataType:'json',
            success:function(barData){
                var year = [];
                var value = [];
                for(var i in barData) {
                   year.push(barData[i].name);
                   value.push(barData[i].value);
                }
                var myChart = echarts.init(document.getElementById('yearsBarCharts'));
                  var option = {
                        title : {
                            text: assoName+'各年招新人数',
                            subtext: '包含医学院'
                        },
                        tooltip : {
                            trigger: 'axis'
                        },
                        legend: {
                            data:['招新人数']
                        },
                        toolbox: {
                            show : true,
                            feature : {
                                mark : {show: true},
                                dataView : {show: true, readOnly: false},
                                magicType : {show: true, type: ['line', 'bar']},
                                restore : {show: true},
                                saveAsImage : {show: true}
                            }
                        },
                        calculable : true,
                        xAxis : [
                            {
                                type : 'category',
                                data : year
                            }
                        ],
                        yAxis : [
                            {
                                type : 'value'
                            }
                        ],
                        series : [
                            {
                                name:'招新人数',
                                type:'bar',
                                data: value,
                                markPoint : {
                                    data : [
                                        {type : 'max', name: '最大值'},
                                        {type : 'min', name: '最小值'}
                                    ]
                                },
                                markLine : {
                                    data : [
                                        {type : 'average', name: '平均值'}
                                    ],
                                    precision: 0
                                }
                            }
                        ]
                    };
                    
                myChart.setOption(option);
            }
        });
     }

</script>
